<%= form_for resource, as: resource_name,
                       url: user_confirmation_path,
                       class: "flex-1 flex flex-col" do |f| %>
  <%= render "devise/shared/error_messages", object: f.object %>
  <div class="mb-4 space-y-2">
    <%= f.label :email, t(".email") %>
    <%= f.email_field :email,
                      class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-0 focus:border-green-500",
                      autocomplete: "email",
                      placeholder: t(".type_email_here") %>
  </div>
  <%= f.submit t(".send"), class: "mx-auto block mt-4 bg-green-500 hover:bg-primary text-white font-semibold py-2 px-10 rounded focus:outline-none focus:shadow-outline cursor-pointer" %>
  <div class="mt-4 text-center">
    <%= t ".already_have_account" %>
    <%= link_to t(".login"), new_session_path(resource_name), class: "text-green-500 hover:text-green-700" %>
  </div>
<% end %>
