<table class="min-w-full bg-white border border-gray-300">
  <thead class="bg-primary text-white">
    <tr>
      <th class="px-4 py-2 border-b border-gray-300 text-center">#</th>
      <th class="px-4 py-2 border-b border-gray-300 text-center"><%= sort_link(@q, :user_name, t(".user")) %></th>
      <th class="px-4 py-2 border-b border-gray-300 text-center"><%= sort_link(@q, :field_name, t(".field")) %></th>
      <th class="px-4 py-2 border-b border-gray-300 text-center"><%= sort_link(@q, :date, t(".date")) %></th>
      <th class="px-4 py-2 border-b border-gray-300 text-center"><%= sort_link(@q, :started_time, t(".started_time")) %></th>
      <th class="px-4 py-2 border-b border-gray-300 text-center"><%= sort_link(@q, :finished_time, t(".finished_time")) %></th>
      <th class="px-4 py-2 border-b border-gray-300 text-center"><%= sort_link(@q, :final_price, t(".price")) %></th>
      <th class="px-4 py-2 border-b border-gray-300 text-center"><%= sort_link(@q, :status, t(".status")) %></th>
      <th class="px-4 py-2 border-b border-gray-300 text-center"><%= sort_link(@q, :created_at, t(".created_at")) %></th>
      <th class="px-4 py-2 border-b border-gray-300 text-center"><%= sort_link(@q, :updated_at, t(".updated_at")) %></th>
      <th class="px-4 py-2 border-b border-gray-300 text-center"><%= t ".actions" %></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "order", collection: @orders %>
  </tbody>
</table>
