<% provide :title, t(".edit") %>
<div>
  <h1><%= t(".edit") %></h1>
  <h1><%= @order.id %></h1>
  <h1><%= @order.status %></h1>
  <%= form_for @order, url: order_path(@order) do |f| %>
    <%= f.hidden_field :status, value: :approved %>
    <%= f.submit t(".approve"), class: "block mx-auto mt-10 bg-primary w-40 h-14 rounded-lg text-white font-semibold text-xl hover:opacity-50 transition-opacity" %>
  <% end %>

  <%= form_for @order, url: order_path(@order) do |f| %>
    <%= f.hidden_field :status, value: :cancel %>
    <%= f.submit t(".cancel"), class: "block mx-auto mt-10 bg-red-500 w-40 h-14 rounded-lg text-white font-semibold text-xl hover:opacity-50 transition-opacity" %>
  <% end %>
</div>
