<% provide :title, t(".edit") %>
<% provide :status_text, :cancelling %>
<div class="flex flex-1 flex-col justify-center items-center gap-y-4">
  <h1 class="text-3xl font-bold text-center"><%= t ".order" %></h1>
  <h3 class="text-2xl font-semibold text-center"><%= t(".order_id", order_id: @order.id)%></h1>
  <p class="text-2xl font-medium text-center text-primary"><%= t(".field") %><%= link_to @order.field.name, @order.field %>
  <% case @order.status %>
  <% when "pending" %>
    <%= render "bill" %>
    <%= render "account_info" %>
    <%= render "voucher_form" %>
  <% when "approved" %>
    <%= render "bill" %>
    <%= render "cancel_button" %>
  <% when "cancelling" %>
    <%= render "bill" %>
    <p class="text-xl text-center text-red-300"><%= t ".cancel_order" %></p>
  <% else %>
    <p class= "text-2xl text-canter text-red-500"><%= t ".cancel_success" %></p>
  <% end %>
</div>
