<li class="bg-white shadow-md rounded-lg p-4 hover:shadow-lg hover:bg-green-200 border border-primary transition duration-300">
  <div class="flex items-center justify-between">
    <div class="flex items-center flex-grow">
      <%= image_tag get_profile_image(activity.user),
                    alt: t("user.show.profile_img"),
                    class: "h-16 w-16 rounded-full border-4 border-white"
      %>
      <p class="ml-4 text-xl">
        <span class="font-bold"><%= activity.user.name %></span>
        <span class="<%= activity_action_class(activity.action) %>"><%= t("activities.actions.#{activity.action}") %></span>
        <span class="font-medium"><%= t("activities.trackable_types.#{activity&.trackable_type&.downcase}") %></span>
        <span class="text-blue-700"><%= activity.name %></span>
      </p>
    </div>
    <p class="text-sm text-gray-500 whitespace-nowrap ml-4">
      <%= activity.created_at.strftime(Settings.date_time_format) %>
    </p>
  </div>
</li>
