<%= form_with model: @order,
              url: order_field_path,
              class: "flex flex-col gap-4 text-lg mt-6 font-semibold" do |form|
%>
  <div>
    <%= form.label :date, class: "w-40 inline-block" %>
    <%= form.date_field :date,
                        min: Time.zone.today,
                        value: Time.zone.today,
                        id: 'date-input',
                        class: "border-none bg-transparent cursor-pointer text-lg"
    %>
    <%= link_to t(".load"),
                unavailable_field_schedules_path(field_id: @field.id),
                data: {turbo_frame: "clock-container"},
                id: "find-schedule-link",
                class: "underline ml-4 text-primary text-base ml-2"
    %>
  </div>
  <div>
    <%= form.label :started_time, class: "w-40 inline-block" %>
    <%= form.time_field :started_time,
                        step: 1800,
                        min: @field.open_time,
                        include_seconds: false,
                        class: "border-none bg-transparent cursor-pointer text-lg"
    %>
  </div>
  <div>
    <%= form.label :finished_time, class: "w-40 inline-block" %>
    <%= form.time_field :finished_time,
                        step: 1800,
                        max: @field.close_time,
                        include_seconds: false,
                        class: "border-none bg-transparent cursor-pointer text-lg"
    %>
  </div>
  <%= form.submit t(".book"), class: "cursor-pointer mx-auto mt-2 bg-primary w-40 h-14 rounded-lg text-white font-semibold text-xl hover:opacity-50 transition-opacity" %>
<% end %>
