<% provide :title, @field.name %>
<section class="grid grid-cols-5 gap-12 p-12 bg-white rounded-lg">
  <div class="flex items-center col-span-3">
    <%= image_tag get_image(@field), class: "w-full rounded-xl shadow-2xl" %>
  </div>
  <div class="col-span-2 flex flex-col justify-center">
    <h2 class="text-3xl font-semibold">
      <%= @field.name %>
    </h2>
    <%= render "rating",
        average_rating: @field.average_rating,
        total_ratings: @field.ratings.count
    %>
    <div class="mt-6">
      <%= render "price", price: @field.default_price %>
    </div>
    <div class="text-xl mt-3 pl-6">
      <%= render "detail", label: t(".field_type"), content: @field.field_type.name %>
      <%= render "detail", label: t(".capacity"), content: @field.field_type.capacity %>
      <%= render "detail", label: t(".ground"), content: t("field_type.#{@field.field_type.ground}") %>
      <%= render "detail", label: t(".open_time"), content: "#{@field.open_time.strftime("%I:%M %p")} - #{@field.close_time.strftime("%I:%M %p")}" %>
    </div>
    <%= render "react",
        loved_count: @field.favourite_users.count,
        booked_count: @field.ordered_users.count
    %>
    <div class="mt-10">
      <% if current_user&.admin? %>
        <%= link_to edit_field_path(@field) do %>
          <%= render "shared/primary_btn", label: t(".edit") %>
        <% end %>
      <% else %>
        <%= link_to order_field_path(@field) do %>
          <%= render "shared/primary_btn", label: t(".book") %>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
<% if @field.description.present? %>
  <section class="mt-12 p-12 bg-white rounded-lg">
    <h3 class="text-2xl font-semibold"><%= t ".description" %></h3>
    <p class="mt-4 text-lg"><%= @field.description %></p>
  </section>
<% end %>
<section class="mt-12 p-12 bg-white rounded-lg">
  <h3 class="text-2xl font-semibold"><%= t ".rating" %></h3>
  <%= render("selected_rating_form") if current_user&.order_field?(@field) %>
  <% if @ratings.present? %>
    <div class="my-8" id="rating-container">
      <%= render @ratings %>
    </div>
    <%== pagy_nav @pagy %>
  <% else %>
    <p class="text-center w-full mt-8">
      <%= t ".no_rating" %>
    </p>
  <% end %>
</section>
