<header class="bg-white shadow-lg w-screen fixed top-0 left-0 z-50">
  <div class="container py-3 flex justify-between items-center">
    <div class="w-20 h-20">
      <%= render "shared/logo" %>
    </div>
    <nav>
      <ul class="flex items-center gap-x-12">
        <li>
          <%= link_to t(".home"), root_path,
            class: ["text-xl font-semi-bold hover:opacity-50 transition-opacity",
            ("active-nav" if root_path == request.path)] %>
        </li>
        <li class="relative inline-block text-left">
          <div>
            <button type="button"
                  id="language-dropdown-btn"
                  class="text-xl font-semi-bold hover:opacity-50 transition-opacity focus:outline-none cursor-pointer">
              <%= t ".language" %>
              <%= fa_icon "caret-down", class: "ml-1 text-gray-500 h-4 w-4" %>
            </button>
          </div>
          <div id="language-dropdown-menu"
            class="hidden origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1
                bg-white ring-1 ring-black ring-opacity-5 focus:outline-none z-50"
            role="menu" aria-orientation="vertical"
            aria-labelledby="dropdownButton">
            <%= link_to t(".english"), {locale: :en},
              class: "block px-4 py-2 text-xl font-semi-bold hover:opacity-50 transition-opacity",
              role: "menuitem" %>
            <%= link_to t(".vietnamese"), {locale: :vi},
              class: "block px-4 py-2 text-xl font-semi-bold hover:opacity-50 transition-opacity",
              role: "menuitem" %>
          </div>
        </li>
        <% if logged_in? %>
          <li>
            <%= link_to t(".profile"), current_user,
              class: ["text-xl font-semi-bold hover:opacity-50 transition-opacity",
              ("active-nav" if user_path(current_user) == request.path)] %>
          </li>
          <% if current_user.admin? %>
            <li class="relative inline-block text-left">
              <div>
                <button type="button"
                  id="stats-dropdown-btn"
                  class="text-xl font-semi-bold hover:opacity-50 transition-opacity focus:outline-none
                        cursor-pointer">
                  <%= t ".stats" %>
                  <%= fa_icon "caret-down", class: "ml-1 text-gray-500 h-4 w-4" %>
                </button>
              </div>
              <div id="stats-dropdown-menu"
            class="hidden origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1
                bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
            role="menu" aria-orientation="vertical"
            aria-labelledby="dropdownButton">
                <%= link_to t(".orders"), orders_path,
              class: "block px-4 py-2 text-xl font-semi-bold hover:opacity-50 transition-opacity",
              role: "menuitem" %>
                <%= link_to t(".users"), users_path,
              class: "block px-4 py-2 text-xl font-semi-bold hover:opacity-50 transition-opacity",
              role: "menuitem" %>
              </div>
            </li>
          <% end %>
          <li>
            <%= link_to t(".logout"), logout_path,
              class: "text-xl font-semi-bold hover:opacity-50 transition-opacity",
              data: {"turbo-method": :delete} %>
          </li>
        <% else %>
          <li>
            <%= link_to t(".login"), login_path,
              class: ["text-xl font-semi-bold hover:opacity-50 transition-opacity",
              ("active-nav" if login_path == request.path)] %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
